### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Ignorar archivos compilados
*.class

# Ignorar carpetas de compilación
/bin

# Ignorar archivos de configuración de Vs code
.vscode/
